# Vector Basics

Vectors are one of the key data structures in R which we wil be using. A vector is a 1 dimensional array that can hold character, numeric, or logical data elements.

We can create a vector by using the combine function c(). To use the function, we pass in the elements we want in the array, with each individual element separated by a comma.

In [2]:
# Using c() to create a vector of numeric elements
nvec <- c(1,2,3,4,5)

In [4]:
nvec

[1] 1 2 3 4 5

In [3]:
class(nvec)

[1] "numeric"

In [5]:
# Vector of characters
cvec <- c('U','S','A')

In [6]:
cvec

[1] "U" "S" "A"

In [7]:
class(cvec)

[1] "character"

In [8]:
lvec <- c(TRUE,FALSE)

In [9]:
lvec

[1]  TRUE FALSE

In [10]:
class(lvec)

[1] "logical"

Note that we CAN'T MIX DATA TYPES of the elements in an array, R will convert the other elements in the array to force everything to be of the same data type. Later on we will learn about the list data structure that can take on multiple data types!

In [11]:
v <- c(FALSE,2)

In [13]:
v

[1] 0 2

In [14]:
class(v)

[1] "numeric"

In [15]:
v <- c('A',1)

In [16]:
v

[1] "A" "1"

In [17]:
class(v)

[1] "character"

## Vector Names

We can use the names() function to assign names to each element in our vector. For example, imagine the folowing vector of a week of temperatures:

In [19]:
temps <- c(72,71,68,73,69,75,71)

In [20]:
temps

[1] 72 71 68 73 69 75 71

We know we have 7 temperatures for 7 weekdays, but which temperature corresponds to which weekday? Does it start on Monday, Sunday, or another day of the week? This is where names() can be assigned in the following manner:

In [21]:
names(temps) <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')

In [22]:
temps

Mon Tue Wed Thu Fri Sat Sun
 72  71  68  73  69  75  71

We also don't have to rewrite the names vector over and over again, we can use simple use a variable name as a names() assignment, for example:

In [23]:
days <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
temps2 <- c(1,2,3,4,5,6,7)
names(temps2) <- days
temps2

Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7