## Excel Files with R

In [1]:
library(readxl)

Warning message:
“package ‘readxl’ was built under R version 3.6.3”

In [2]:
# list the sheets of the excel file
excel_sheets('./Excel/Sample-Sales-Data.xlsx')

[1] "Sheet1"

In [3]:
# Call info from the sheets using read_excel
df <- read_excel('./Excel/Sample-Sales-Data.xlsx',sheet='Sheet1')
head(df)

  Postcode Sales_Rep_ID Sales_Rep_Name Year Value
1 2121     456          Jane           2011 84219.50
2 2092     789          Ashish         2012 28322.19
3 2128     456          Jane           2013 81879.00
4 2073     123          John           2011 44491.14
5 2134     789          Ashish         2012 71837.72
6 2162     123          John           2013 64531.55

In [4]:
# Now you can perform operations on it just like a normal R data frame:
sum(df['Value'])

[1] 19199461

In [5]:
str(df)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	390 obs. of  5 variables:
 $ Postcode      : chr  "2121" "2092" "2128" "2073" ...
 $ Sales_Rep_ID  : num  456 789 456 123 789 123 456 789 123 789 ...
 $ Sales_Rep_Name: chr  "Jane" "Ashish" "Jane" "John" ...
 $ Year          : num  2011 2012 2013 2011 2012 ...
 $ Value         : num  84219 28322 81879 44491 71838 ...

In [6]:
summary(df)

   Postcode          Sales_Rep_ID Sales_Rep_Name          Year
 Length:390         Min.   :123   Length:390         Min.   :2011
 Class :character   1st Qu.:123   Class :character   1st Qu.:2011
 Mode  :character   Median :456   Mode  :character   Median :2012
                    Mean   :456                      Mean   :2012
                    3rd Qu.:789                      3rd Qu.:2013
                    Max.   :789                      Max.   :2013
     Value
 Min.   :  106.4
 1st Qu.:26101.5
 Median :47447.4
 Mean   :49229.4
 3rd Qu.:72277.8
 Max.   :99878.5

## Writing to Excel

In [ ]:
library(xlsx)
df <- data.frame(matrix(1:10))
write.xlsx(df, "output2.xlsx")
testex <- read_excel('output.xlsx')
print(testex)