# Logical Operators

Logical Operators will allow us to combine multiple comparison operators. The logical operators we will learn about are:

- AND - &
- OR - |
- NOT - !

In [1]:
x <- 10
x < 20 & x > 5

[1] TRUE

In [2]:
(x < 20) & (x>5)

[1] TRUE

In [3]:
(x < 20) & (x>5) & (x == 10)

[1] TRUE

## NOT !

In [4]:
(10==1)

[1] FALSE

In [5]:
!(10==1)

[1] TRUE

In [6]:
# We can stack them (pretty uncommon, but possible)
!!(10==1)

[1] FALSE

In [7]:
df <- mtcars
df[df['mpg'] >= 20,] # Notice the use of indexing with the comma
# subset(df,mpg>=20) # Could also use subset

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [8]:
df[(df['mpg'] >= 20) & (df['hp'] > 100),]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

## Logical Operators with Vectors

In [9]:
tf <- c(TRUE,FALSE)
tt <- c(TRUE,TRUE)
ft <- c(FALSE, TRUE)

In [10]:
tt & tf

[1]  TRUE FALSE

In [11]:
tt | tf

[1] TRUE TRUE

# if, else, else if Statements

Here is the syntax for an if statement in R:

if (condition){
    # Execute some code
}

In [12]:
hot <- FALSE
temp <- 60

if (temp > 80){
    hot <- TRUE
    
}
hot

[1] FALSE

In [13]:
# Reset temp
temp <- 100

if (temp > 80){
    hot <- TRUE
    
}

hot

[1] TRUE

In [14]:
if( 1 == 1){
    print('hi')}

[1] "hi"

## else

if (condition) {

     Code to execute if true
   
} else {

     Code to execute if above was not true
   
}

In [16]:
temp <- 30

if (temp > 90){
    print("Hot outside!")
} else{
    print("Its not too hot today!")
}

[1] "Its not too hot today!"

## else if

In [17]:
temp <- 30

if (temp > 80){
    print("Hot outside!")
} else if(temp<80 & temp>50){
    print('Nice outside!')
} else if(temp <50 & temp > 32){
    print("Its cooler outside!")
} else{
    print("Its really cold outside!")
}

[1] "Its really cold outside!"

In [18]:
temp <- 75

if (temp > 80){
    print("Hot outside!")
} else if(temp<80 & temp>50){
    print('Nice outside!')
} else if(temp <50 & temp > 32){
    print("Its cooler outside!")
} else{
    print("Its really cold outside!")
}

[1] "Nice outside!"

In [19]:
# Items sold that day
ham <- 10
cheese <- 10

# Report to HQ
report <- 'blank'


if(ham >= 10 & cheese >= 10){
    report <- "Strong sales of both items"
    
}else if(ham == 0 & cheese == 0){
    report <- "Nothing sold!"
}else{
    report <- 'We had some sales'
}
print(report)

[1] "Strong sales of both items"

# while loops

**while** loops are a while to have your program continuously run some block of code until a condition is met (made TRUE). The syntax is:

while (condition){
    # Code executed here 
    # while condition is true
}

In [20]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"

In [21]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
    if(x==10){
        print("x is equal to 10! Terminating loop")
    }
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"
[1] "x is equal to 10! Terminating loop"

## break

You can use break to break out of a loop. Previously we showed an if statement checking for 10, but this wasn't actually stopping the loop, the while condition check on the next run stopped the loop, let's show an example where we could use break to terminate the loop:

In [22]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
    if(x==10){
        print("x is equal to 10!")
        print("I will also print, woohoo!")
    }
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"
[1] "x is equal to 10!"
[1] "I will also print, woohoo!"

In [23]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
    if(x==10){
        print("x is equal to 10!")
        break
        print("I will also print, woohoo!")
    }
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"
[1] "x is equal to 10!"

Notice how the break stopped the "I will also print, woohoo!" from occuring. You can use this as an internal check inside a while loop to stop is based off some other condition.

# for loops

A for loop allows us to iterate over an object (such as a vector) and we can then perform and execute blocks of codes for every loop we go through. The syntax for a for loop is:

for (temporary_variable in object){
    # Execute some code at every loop
}

## For loop over a vector

In [24]:
vec <- c(1,2,3,4,5)
for (temp_var in vec){
    print(temp_var)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [25]:
# The other way would be to loop a numbered amount of times and then use indexing to continually grab from the vector:
for (i in 1:length(vec)){
    print(vec[i])
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## For loop over a list

In [26]:
li <- list(1,2,3,4,5)
for (temp_var in li){
    print(temp_var)
}

# for (i in 1:length(li)){
#     print(li[[i]]) # Remember to use double brackets!
# }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## For loop with a matrix

In [28]:
mat <- matrix(1:15,nrow=5)
mat

     [,1] [,2] [,3]
[1,] 1     6   11
[2,] 2     7   12
[3,] 3     8   13
[4,] 4     9   14
[5,] 5    10   15

In [29]:
for (num in mat){
    print(num)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15

## Nested for loops

We can nest for loops inside one another,however be careful when doing this, as every additional for loop nested inside another may cause a significant amount of additional time for your code to finish executing.

In [30]:
for (row in 1:nrow(mat)){
    for (col in 1:ncol(mat)){
        print(paste('The element at row:',row,'and col:',col,'is',mat[row,col]))
    }
}

[1] "The element at row: 1 and col: 1 is 1"
[1] "The element at row: 1 and col: 2 is 6"
[1] "The element at row: 1 and col: 3 is 11"
[1] "The element at row: 2 and col: 1 is 2"
[1] "The element at row: 2 and col: 2 is 7"
[1] "The element at row: 2 and col: 3 is 12"
[1] "The element at row: 3 and col: 1 is 3"
[1] "The element at row: 3 and col: 2 is 8"
[1] "The element at row: 3 and col: 3 is 13"
[1] "The element at row: 4 and col: 1 is 4"
[1] "The element at row: 4 and col: 2 is 9"
[1] "The element at row: 4 and col: 3 is 14"
[1] "The element at row: 5 and col: 1 is 5"
[1] "The element at row: 5 and col: 2 is 10"
[1] "The element at row: 5 and col: 3 is 15"